body {
    margin-top: 20px;
    font: 12pt Arial;
    line-height: 20pt;
    background-color: lemonchiffon;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
    line-height: 25pt;
    width: 150px;
}

.sidebar-nav a:link, .sidebar-nav a:visited {
    text-decoration: none;
    color: royalblue;
}

.sidebar, .content {
    display: inline-block;
}

.content {
    vertical-align: top;
}

h1 {
    color: darkslateblue;
}